/* Force scrollbars onto browser window */
body {
  margin-bottom: 200%;
}
​
/* Box styles */
.myBox {
  border: none;
  padding: 5px;
  font: 24px/36px sans-serif;
  /* width: 300px; */
  /* height: 900px; */
  overflow: scroll;
}
​
/* Scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
​
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px olivedrab;
  border-radius: 10px;
}
​
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: yellowgreen;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
​
::-webkit-scrollbar-thumb:hover {
background: #7bac10;
}


body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  max-height: 100%;
  font-family:Sans-serif;
  line-height: 1.5em;
}

#nav{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 750px;
  height: 100%;
  overflow: scroll;
  background: #eee;
}

main{
  position: fixed;
  top: 0;
  left: 750px; /* Set this to the width of the navigation frame */
  right: 0;
  bottom: 0;
  overflow: auto;
  background: #fff;
}

.innertube{
  margin: 15px; /* Provides padding for the content */
}

p {
  color: #555;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul a {
  color: darkgreen;
  text-decoration: none;
}

/*IE6 fix*/
* html body{
  padding: 0 0 0 230px; /* Set the last value to the width of the navigation frame */
}

* html main{
  height: 100%;
  width: 100%;
}

.iconBtn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.iconBtn:hover {
  background-color: RoyalBlue;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}


.button2 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
  width: 100%;
  height: 100px;
}

.buttonSmall {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
  width: 25%;
  height: 64px;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}
