<!DOCTYPE html>
<html>
  <head>
    <title>Gallery</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="gallery_view.css" title="style">
  </head>
  <body>
    <div class="row">
      
    </div>
    
    <p>TODO Gallery view: 
      <a href="input_view.html">Input </a>
      <a href="progress_view.html">Progress</a>
    </p>

    <div class="container2">
      <div id = "squares">

      </div>
    </div>

    <script>
      require('./scripts/gallery_view.js')
    </script>
  </body>
</html>
