<!DOCTYPE html>
<html>
<head>
    <title>Input</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Bootstrap Optional JavaScript
         jQuery first, then Popper.js, then Bootstrap JS
         referencing https://www.ryadel.com/en/electron-jquery-bootstrap-project-add-npm/ -->
    <script>
        
        require('popper.js')
        require('bootstrap')
    </script>
</head>
<body>
    <p>[DEBUG] Input view: </p>
    <a href="progress_view.html">Progress </a>
    <a href="gallery_view.html">Gallery</a>

    <script>
        // require('./scripts/input_script.js')
    </script>
</body>
</html>